# Woodpecker Version
VERSION=v3.8.0

# Woodpecker Server
WOODPECKER_SERVER_VOLUME=/tank/docker/data/woodpecker
WOODPECKER_HOST=https://woodpecker.example.com
# Closed registration (only admins can log in)
WOODPECKER_OPEN=false
# Gitea username(s) allowed as admin
WOODPECKER_ADMIN=admin

# Gitea OAuth
WOODPECKER_GITEA=true
WOODPECKER_GITEA_URL=https://gitea.example.com
# Generate a client and secret string by visiting (in Gitea) Settings -> Applications -> Manage OAuth2 applications.
WOODPECKER_GITEA_CLIENT=GITEA_CLIENT
WOODPECKER_GITEA_SECRET=GITEA_SECRET

# Agent Secret
WOODPECKER_AGENT_SECRET=create-a-super-secure-password
